@import url(https://fonts.googleapis.com/css?family=Unbounded:200,300,regular,700&display=swap);
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
*::after,
*::before {
    display: inline-block;
}
body,
html {
    height: 100%;
    min-width: 320px;
}
body {
    color: #323232;
    line-height: 1;
    font-family: Unbounded;
    font-size: 1.125rem;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
button,
input,
textarea {
    font-family: Unbounded;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
}
input,
textarea {
    width: 100%;
}
button,
option,
select {
    cursor: pointer;
}
a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
body {
    background-color: #e1e1e1;
    line-height: 27px;
    letter-spacing: -0.011em;
}
.lock body {
    overflow: hidden;
    touch-action: none;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
.wrapper::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 94px;
    right: -122px;
    height: 1400px;
    width: 751px;
    background: url(../img/bg_mob2.png) center center/contain no-repeat;
}
@supports (overflow: clip) {
    .wrapper {
        overflow: clip;
    }
}
.wrapper > main {
    flex: 1 1 auto;
    padding: 45px 0 64px;
    position: relative;
}
.wrapper > main::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -56px;
    right: -122px;
    height: 1400px;
    width: 751px;
    background: url(../img/bg_mob.svg) center center/contain no-repeat;
}
.wrapper > main .page__container {
    position: relative;
    z-index: 3;
}
.wrapper > * {
    min-width: 0;
}
[class*="__container"] {
    max-width: 65.75rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
}
.ibg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.ibg--top {
    -o-object-position: top;
    object-position: top;
}
.ibg--bottom {
    -o-object-position: bottom;
    object-position: bottom;
}
.ibg--left {
    -o-object-position: left;
    object-position: left;
}
.ibg--right {
    -o-object-position: right;
    object-position: right;
}
.ibg--contain {
    -o-object-fit: contain;
    object-fit: contain;
}
h2 {
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -0.011em;
    margin-bottom: 24px;
    text-align: center;
}
.footer {
    position: relative;
    z-index: 3;
    background: #323232;
    color: #fff;
    padding: 36px 0 45px;
}
.footer h2 {
    margin-bottom: 18px;
}
.footer__row {
    font-weight: 200;
}
.footer__row > *:not(:last-child) {
    margin-bottom: 26px;
}
.footer__item a {
    transition: opacity 0.3s ease 0s;
}
.main-title {
    padding: 10px 20px;
    background: #323232;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.011em;
    color: #fff;
    text-align: center;
    margin-bottom: 79px;
    max-width: 281px;
    margin-left: auto;
    margin-right: auto;
}
.content > *:not(:last-child) {
    margin-bottom: 64px;
}
.content__item > p {
    max-width: 845px;
}
.services__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 8px;
    margin: 0 -15px;
}
.services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 119px;
}
.services__icon {
    height: 42px;
}
.services__icon img {
    height: 100%;
}
.services__label {
    font-weight: 400;
    margin-top: 17px;
    font-size: 9.46px;
    line-height: 14.18px;
    text-align: center;
}
.why-us__item {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}
.why-us__item p {
    max-width: 364px;
}
.why-us__item:not(:last-child) {
    padding-bottom: 24px;
}
.why-us__info > *:not(:last-child) {
    margin-bottom: 10px;
}
.why-us__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
.why-us__img {
    flex: 0 0 127px;
    height: 176px;
    border-radius: 16px;
    overflow: hidden;
}
.why-us__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
@media (min-width: 47.99875em) {
    .wrapper::after {
        display: none;
    }
    .wrapper > main {
        padding: 122px 0 84px;
    }
    .wrapper > main::before {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: -411px;
        width: 1643px;
        height: 3064px;
        background: url(../img/bg.svg) center center/contain no-repeat;
    }
    h2 {
        text-align: left;
        font-size: 48px;
        line-height: 72px;
        margin-bottom: 36px;
    }
    .footer {
        padding: 36px 0 66px;
    }
    .main-title {
        display: inline-flex;
        max-width: none;
        font-size: 48px;
        text-align: left;
        line-height: 72px;
        margin-bottom: 64px;
    }
    .services__row {
        margin: 0;
        gap: 24px 14px;
    }
    .services__item {
        flex: 0 1 calc(20% - 14px);
    }
    .services__icon {
        height: 65px;
    }
    .services__label {
        font-size: 16px;
        line-height: 24px;
    }
    .why-us__item {
        padding-top: 48px;
        border-top: 1px solid rgba(50, 50, 50, 0.3411764706);
    }
    .why-us__item:not(:last-child) {
        padding-bottom: 48px;
    }
    .why-us__info > *:not(:last-child) {
        margin-bottom: 24px;
    }
    .why-us__title {
        font-size: 36px;
        line-height: 54px;
    }
    .why-us__img {
        flex: 0 0 355px;
        height: 239px;
    }
}
@media (max-width: 47.99875em) {
    body {
        font-weight: 300;
    }
    .footer__row {
        text-align: center;
        font-size: 12px;
        line-height: 18px;
        max-width: 331px;
        margin: 0 auto;
    }
    .content__item {
        text-align: center;
    }
    .why-us__item {
        position: relative;
    }
    .why-us__item::before {
        content: "";
        position: absolute;
        width: 100vw;
        top: -1px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 1px;
        background-color: rgba(50, 50, 50, 0.22);
    }
    .why-us__item p {
        font-size: 16px;
        line-height: 24px;
    }
    .why-us__info {
        flex: 0 0 250px;
    }
}
@media (any-hover: hover) {
    .footer__item a:hover {
        opacity: 0.6;
    }
}
